<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <directoryBrowse enabled="false" />
    <security>
      <requestFiltering>
        <hiddenSegments>
          <add segment=".env" />
          <add segment=".git" />
          <add segment="data" />
        </hiddenSegments>
        <fileExtensions>
          <add fileExtension=".sqlite" allowed="false" />
          <add fileExtension=".db" allowed="false" />
        </fileExtensions>
      </requestFiltering>
    </security>
  </system.webServer>
</configuration>
